<div cases-sidenav class="sidenav-section">
    <div class="topnav-section">
        <div class="item ng-animate-disabled" ng-click="switchType('legals')" ng-class="{active:caseType === 'legals'}" translate>Pravna lica</div>
        <div class="item ng-animate-disabled" ng-click="switchType('individuals')" ng-class="{active: caseType === 'individuals'}" translate>Fizička lica</div>
    </div>

    <div class="loader ng-animate-disabled" ng-show="$root.loading">Loading...</div>

    <div class="sidenav-item--container">
        <div class="sidenav-item--no-item" ng-if="!cases.length" translate>Trenutno nema predmeta</div>
        <div class="sidenav-item ng-animate-disabled" ng-repeat="_case in cases track by _case.id"
             ng-class="{active: _case.id === selected.id}" ng-click="pickCase(_case)">
            {{_case.legal_council + ' - ' + _case.legal_label + ' / ' + _case.legal_number}}
            <span class="detail-info" title="{{_case.name}}">
                <i>{{_case.name}}</i>
            </span>
        </div>
    </div>
    <button class="btn btn--orange" ng-click="addCase()">
        <i class="icon-add-client"></i>
        <span translate>Dodaj novi predmet</span>
    </button>
</div>

<div cases-template class="content-section">
    <div class="content-searchbar clearfix">
        <input type="text" class="searchbar pull-right" placeholder="{{'Pretraga...'| translate}}" />
    </div>
    <div class="content-shortinfo">
        <div class="name-info" ng-if="selected">
            {{selected.legal_council + ' - ' + selected.legal_label + ' / ' + selected.legal_number}}
            <div class="address-info">{{selected.name}}</div>
        </div>
        <div class="btn-group btn-group--inline pull-right" ng-if="selected">
            <button class="btn btn--rounded btn--dark" ng-click="editCase(selected)" translate>Izmeni podatke</button>
            <button class="btn btn--rounded btn--dark" ng-click="removeCase(selected)" translate>Izbriši predmet</button>
        </div>
    </div>
    <div class="content-detailedinfo">
        <div class="content-left">
            <div class="content-heading" translate>Osnovni podaci</div>
            <div class="content-details" ng-if="!selected">
                <label class="label--info" translate>Nijedan predmet nije izabran</label>
            </div>
            <div class="content-details" ng-if="selected">
                <div class="column">
                    <label translate>Suprotna strana</label>
                    {{selected.rival_type}} {{selected.rival_name}} {{selected.rival_surname}}
                </div>
                <div class="columns-two" ng-if="selected.type || selected.element">
                    <div class="column" ng-if="selected.type">
                        <label translate>Vrsta</label>
                        {{selected.type}}
                    </div>
                    <div class="column" ng-if="selected.element">
                        <label translate>Osnov</label>
                        {{selected.element}}
                    </div>
                </div>
                <div class="column" ng-if="selected.supervisor">
                    <label translate>Nadležni organ</label>
                    {{selected.supervisor}}
                </div>
                <div class="columns-two" ng-if="selected.legal_council || selected.legal_label || selected.legal_number || selected.internal_number">
                    <div class="column" ng-if="selected.legal_council || selected.legal_label || selected.legal_number">
                        <label translate>Poslovni broj</label>
                        {{selected.legal_council}} - {{selected.legal_label}} / {{selected.legal_number}}
                    </div>
                    <div class="column" ng-if="selected.internal_number">
                        <label translate>Interni broj predmeta</label>
                        {{selected.internal_number}}
                    </div>
                </div>
                <div class="columns-two" ng-if="selected.court_number || selected.judge">
                    <div class="column" ng-if="selected.court_number">
                        <label translate>Broj sudnice / Sobe</label>
                        {{selected.court_number}}
                    </div>
                    <div class="column" ng-if="selected.judge">
                        <label translate>Sudija / Tužilac</label>
                        {{selected.judge}}
                    </div>
                </div>
                <div class="columns-two" ng-if="selected.value || selected.status">
                    <div class="column" ng-if="selected.value">
                        <label translate>Vrednost spora</label>
                        {{selected.value}}
                    </div>
                    <div class="column" ng-if="selected.status">
                        <label translate>Status predmeta</label>
                        {{selected.status}}
                    </div>
                </div>
                <div class="column" ng-if="selected.comment">
                    <label translate>Komentar</label>
                    {{selected.comment}}
                </div>
            </div>
        </div>

        <div class="content-right">
            <div class="content-heading" ng-controller="calendarCtrl">
                {{ :: 'Agenda' | translate }}
                <div class="content-heading--actions" ng-show="selected">
                    <a ng-click="addCalendar(null, selected)"><i class="fa fa-plus-square-o"></i></a>
                </div>
            </div>
            <div class="content-details">
                <div class="column" ng-if="!agenda.length">
                    <label class="label--info">Nemate budućih obaveza za izabranog klijenta.</label>
                </div>
                <div class="column" ng-repeat="_calendar in agenda track by _calendar.id">
                    <label>{{_calendar.datetime| datetime:"Do MMMM YYYY, HH:mm"}} - {{_calendar.name}}</label>
                </div>
            </div>

            <div class="content-heading" ng-controller="documentsCtrl">
                {{ :: 'Dokumenta' | translate }}
                <div class="content-heading--actions" ng-show="selected">
                    <a ng-click="addDocument(selected)"><i class="fa fa-plus-square-o"></i></a>
                </div>
            </div>
            <div class="content-details" ng-controller="documentsCtrl">
                <div class="column" ng-if="!documents.length">
                    <label class="label--info">Trenutno nema dokumenata za izabrani predmet</label>
                </div>
                <div class="column column--with-actions" ng-repeat="document in documents track by document.id">
                    <label><a ng-click="previewDocument(selected, document)">{{ document.name}}</a></label>
                    <div class="column--actions">
                        <button class="btn btn--icon" ng-click="editDocument(selected, document)"><i class="fa fa-pencil-square-o"></button>
                        <button class="btn btn--icon" ng-click="removeDocument(selected, document)"><i class="fa fa-trash-o"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>