<div class="container-fluid">
    <div class="logo">
        <img src="assets/images/logo.png" alt="mojrokovnik" />
    </div>
    <div class="container">
        <div class="card"></div>

        <div class="card">
            <h1 class="title">Login</h1>
            <form ng-submit="login()">
                <div class="input-container">
                    <input type="text" id="Username" ng-model="username" required="required"/>
                    <label for="Username">Username</label>
                    <div class="bar"></div>
                </div>
                <div class="input-container">
                    <input type="password" id="Password" ng-model="password" required="required"/>
                    <label for="Password">Password</label>
                    <div class="bar"></div>
                </div>
                <div class="button-container">
                    <button type="submit" id="login-btn" ng-disabled="isLoading">
                        <span>Log In</span>
                        <div class="spinner ng-animate-disabled" ng-show="isLoading">
                            <div class="dot1"></div>
                            <div class="dot2"></div>
                        </div>
                    </button>
                </div>
                <div class="error-container" ng-show="errorMsg">
                    <span>{{:: errorMsg}}</span>
                </div>
                <div class="footer">
                    <a href="#">Forgot your password?</a>
                    <a href="#" class="toggle">Register new user</a>
                </div>
            </form>
        </div>

        <div class="card alt">
            <div class="toggle" ng-click="toggleRegister()"></div>
            <h1 class="title">Register
                <div class="close" ng-click="closeRegister()"></div>
            </h1>
            <form ng-submit="register()">
                <div class="input-container">
                    <input type="text" id="Username" ng-model="register.username" required="required"/>
                    <label for="Username">Username</label>
                    <div class="bar"></div>
                </div>
                <div class="input-container">
                    <input type="text" id="Email" ng-model="register.email" required="required"/>
                    <label for="Email">Email</label>
                    <div class="bar"></div>
                </div>
                <div class="input-container">
                    <input type="password" id="Password" ng-model="register.password" required="required"/>
                    <label for="Password">Password</label>
                    <div class="bar"></div>
                </div>
                <div class="input-container">
                    <input type="password" id="Repeat Password" ng-model="register.passwordRepeat" required="required"/>
                    <label for="Repeat Password">Repeat Password</label>
                    <div class="bar"></div>
                </div>
                <span ng-show="confirmationLink">Confirmation link is sent to your email address</span>
                <div class="button-container">
                    <button type="submit" ng-disabled="isLoading">
                        <span>Register</span>
                        <div class="spinner ng-animate-disabled" ng-show="isLoading">
                            <div class="dot1"></div>
                            <div class="dot2"></div>
                        </div>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
