<div class="container-fluid">
    <div class="logo">
        <img src="assets/images/logo.png" alt="mojrokovnik" />
    </div>
    <div class="container" ng-class="{active: registerView}">
        <div class="card"></div>

        <div class="card">
            <h1 class="title" translate>Prijavi se</h1>
            <form ng-submit="login()">
                <div class="input-container">
                    <input type="text" id="Username" ng-model="username" required="required"/>
                    <label for="Username" translate>Korisničko ime</label>
                    <div class="bar"></div>
                </div>
                <div class="input-container">
                    <input type="password" id="Password" ng-model="password" required="required"/>
                    <label for="Password" translate>Lozinka</label>
                    <div class="bar"></div>
                </div>
                <div class="button-container">
                    <button type="submit" id="login-btn" ng-disabled="isLoading">
                        <span>Log In</span>
                        <div class="spinner ng-animate-disabled" ng-show="isLoading">
                            <div class="dot1"></div>
                            <div class="dot2"></div>
                        </div>
                    </button>
                </div>
                <div class="error-container" ng-show="msg.error">
                    <span>{{:: msg.error}}</span>
                </div>
                <div class="success-container" ng-show="msg.success">
                    <span>{{:: msg.success}}</span>
                </div>
                <div class="footer">
                    <a href="#" translate>Zaboravili ste lozinku?</a>
                    <a href="#" ng-click="toggleRegister()" translate>Registruj novog korisnika</a>
                </div>
            </form>
        </div>

        <div class="card alt">
            <div class="toggle" ng-click="toggleRegister()"></div>
            <h1 class="title">{{ 'Registracija' | translate }}
                <div class="close" ng-click="toggleRegister()"></div>
            </h1>
            <form name="registrationForm" ng-submit="register()">
                <div class="input-container" ng-class="{'invalid': msg.error.username}">
                    <input type="text" id="Username" ng-model="register.username" required="required"/>
                    <label for="Username" translate>Korisničko ime</label>
                    <div class="bar"></div>
                    <span class="error-msg">{{msg.error.username}}</span>
                </div>
                <div class="input-container" ng-class="{'invalid': msg.error.email || (registrationForm.email.$dirty && registrationForm.email.$invalid)}">
                    <input type="email" id="Email" ng-model="register.email" name="email" required="required"/>
                    <label for="Email" translate>Email</label>
                    <div class="bar"></div>
                    <span class="error-msg">{{msg.error.email}}</span>
                </div>
                <div class="input-container">
                    <input type="password" id="Password" ng-model="register.password" required="required"/>
                    <label for="Password" translate>Lozinka</label>
                    <div class="bar"></div>
                </div>
                <div class="input-container">
                    <input type="password" id="R-Password" ng-model="register.passwordRepeat" required="required"/>
                    <label for="R-Password" translate>Ponovi lozinku</label>
                    <div class="bar"></div>
                </div>
                <div class="button-container">
                    <button type="submit" ng-disabled="isLoading">
                        <span translate>Registruj se</span>
                        <div class="spinner ng-animate-disabled" ng-show="isLoading">
                            <div class="dot1"></div>
                            <div class="dot2"></div>
                        </div>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
