<div class="modal-header">
    <h3 class="modal-title" ng-if="!editMode" translate>Dodaj klijenta</h3>
    <h3 class="modal-title" ng-if="editMode" translate>Izmeni klijenta</h3>
</div>

<form name="clientFormLegals" class="modal-body" ng-show="clientType === 'legals'">
    <div class="row">
        <div class="col-md-12">
            <md-input-container>
                <label translate>Ime firme</label>
                <input type="text" ng-model="client.company_name" required>
            </md-input-container>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <md-input-container>
                <label translate>Adresa</label>
                <input type="text" ng-model="client.address">
            </md-input-container>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <md-input-container>
                <label translate>Grad</label>
                <input type="text" ng-model="client.city">
            </md-input-container>
        </div>
        <div class="col-md-6">
            <md-input-container>
                <label translate>Država</label>
                <input type="text" ng-model="client.state">
            </md-input-container>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <md-input-container>
                <label translate>Telefon</label>
                <input type="text" ng-model="client.phone">
            </md-input-container>
        </div>
        <div class="col-md-6">
            <md-input-container>
                <label translate>Email</label>
                <input type="text" ng-model="client.email">
            </md-input-container>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <md-input-container>
                <label translate>PIB</label>
                <input type="text" ng-model="client.vat">
            </md-input-container>
        </div>
        <div class="col-md-6">
            <md-input-container>
                <label translate>Matični broj</label>
                <input type="text" ng-model="client.company_number">
            </md-input-container>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <md-input-container>
                <label translate>Tekući račun</label>
                <input type="text" ng-model="client.account_number">
            </md-input-container>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <md-input-container>
                <label translate>Pravni zastupnik</label>
                <input type="text" ng-model="client.attorney_name" required>
            </md-input-container>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <md-input-container>
                <label translate>Telefon zastupnika</label>
                <input type="text" ng-model="client.attorney_phone">
            </md-input-container>
        </div>
        <div class="col-md-6">
            <md-input-container>
                <label translate>Adresa zastpunika</label>
                <textarea ng-model="client.attorney_address"></textarea>
            </md-input-container>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <md-input-container>
                <label translate>Grad zastupnika</label>
                <input type="text" ng-model="client.attorney_city">
            </md-input-container>
        </div>
        <div class="col-md-6">
            <md-input-container>
                <label translate>Država zastupnika</label>
                <textarea ng-model="client.attorney_state"></textarea>
            </md-input-container>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <md-input-container>
                <label translate>Komentar</label>
                <textarea ng-model="client.comment"></textarea>
            </md-input-container>
        </div>
    </div>
</form>

<form name="clientFormIndividuals" class="modal-body" ng-show="clientType === 'individuals'">
    <div class="row">
        <div class="col-md-6">
            <md-input-container>
                <label translate>Ime</label>
                <input type="text" ng-model="client.name" required>
            </md-input-container>
        </div>
        <div class="col-md-6">
            <md-input-container>
                <label translate>Prezime</label>
                <input type="text" ng-model="client.surname">
            </md-input-container>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <md-input-container>
                <label translate>Adresa</label>
                <input type="text" ng-model="client.address">
            </md-input-container>
        </div>
        <div class="col-md-6">
            <md-input-container>
                <label translate>Grad</label>
                <input type="text" ng-model="client.city">
            </md-input-container>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <md-input-container>
                <label translate>Država</label>
                <input type="text" ng-model="client.state">
            </md-input-container>
        </div>
        <div class="col-md-6">
            <md-input-container>
                <label translate>Državljanstvo</label>
                <input type="text" ng-model="client.citizenship">
            </md-input-container>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <md-input-container>
                <label translate>Telefon</label>
                <input type="text" ng-model="client.phone">
            </md-input-container>
        </div>
        <div class="col-md-6">
            <md-input-container>
                <label translate>Email</label>
                <input type="text" ng-model="client.email">
            </md-input-container>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <md-input-container>
                <label translate>JMBG</label>
                <input type="text" ng-model="client.social_number">
            </md-input-container>
        </div>
        <div class="col-md-6">
            <md-input-container>
                <label translate>Broj lične karte</label>
                <input type="text" ng-model="client.id_number">
            </md-input-container>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <md-input-container>
                <label translate>Tekući račun</label>
                <input type="text" ng-model="client.account_number">
            </md-input-container>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <md-input-container>
                <label translate>Komentar</label>
                <textarea ng-model="client.comment"></textarea>
            </md-input-container>
        </div>
    </div>
</form>

<div class="modal-footer">
    <button class="btn btn--rounded btn--dark" type="button" ng-click="cancel()" translate>Odustani</button>
    <button class="btn btn--rounded btn--orange" type="button" ng-click="save(client)" ng-disabled="!(clientFormLegals.$valid || clientFormIndividuals.$valid)" translate>Sačuvaj lice</button>
</div>