@import "mixins";
@import "variables";

* {
    font-family: 'Open Sans', sans-serif;
}

a, a:hover, a:focus {
    color: @white;
    text-decoration: none;
}

button, .btn {
    display: inline-block;
    vertical-align: middle;
    padding: 8px 20px;
    line-height: 12px;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
    border: 0;
    outline: none !important;
    box-sizing: border-box;
    &:focus {
        outline: none !important;
    }
    &:hover, &:focus {
        background-color: rgba(0, 0, 0, 0.235);
        text-decoration: none;
        color: #333333;
    }
}

.btn--orange {
    color: @white;
    background-color: @mr-orange;
    &:hover, &:focus {
        color: @white;
        background-color: #c94224;
    }
}

.btn--rounded {
    padding: 15px;
    border-radius: 30px;
}

.btn--dark {
    color: @white;
    background-color: @mr-violet;
    &:hover, &:focus {
        color: @white;
        background-color: @mr-blue;
    }
}

.btn--danger {
    color: @white;
    background-color: #d9534f;
    &:hover, &:focus {
        color: @white;
        background-color: #c9302c;
    }
}

.btn--icon {
    padding: 8px 10px;
    color: @text-gray-light;
    background-color: transparent;
    i {
        font-size: 16px;
        line-height: 8px;
    }
    &:hover, &:focus, &:active {
        color: @black;
        box-shadow: none;
        background-color: transparent;
    }
}

.btn-group--inline {
    button, .btn {
        display: inline-block;
        vertical-align: middle;
    }
}

md-input-container {
    width: 100%;
    .md-errors-spacer { display: none; }

    .md-input[disabled] {
        color: inherit;
    }

    md-select[disabled] {
        .md-select-value, :first-child { 
            color: inherit;
            font-weight: 500;
        }
        .md-select-icon { display: none; }
    }
}

// Convert autocomplete to link
.link-type {
    input[type="search"] {
        cursor: pointer;
        .transition(color .5s);
        &:hover {
            color: @mr-orange;
        }
    }
}

// INPUT FIELDS
.searchbar {
    border: 0;
    padding: 5px;
    margin: 10px 0;
    min-width: 250px;
    border-radius: 30px;
    text-indent: 15px;
    border: 1px solid @white;
    background-color: @white;
    &:focus {
        border: 1px solid @mr-orange;
        outline: none;
    }
}

.md-select-value *:first-child {
    font-size: 14px;
    font-weight: 700;
}

// ANGULAR MATERIAL FIXES
.md-select-menu-container,
.md-autocomplete-suggestions-container {
    z-index: 2001 !important;
}

// ANGULAR TOAST DEFINITIONS
._md {
    line-height: 65px;
    &.success {
        .md-toast-content {
            background-color: #0CB976;
        }
    }
    &.error {
        .md-toast-content {
            background-color: #DE5307;
        }
    }
    &.warn {
        .md-toast-content {
            background-color: yellowgreen;
        }
    }
}

// COLUMNS
.column {
    width: 100%;
}

.columns-two {
    font-size: 0;
    .column {
        display: inline-block;
        vertical-align: middle;
        width: 50%;
    }
}

// SPINNER
.spinner {
    width: 20px;
    height: 20px;
    position: absolute;
    text-align: center;
    right: 12px;
    top: 50%;
    margin-top: -15px;

    -webkit-animation: rotate 2.0s infinite linear;
    animation: rotate 2.0s infinite linear;

    .dot1, .dot2 {
        width: 60%;
        height: 60%;
        display: inline-block;
        position: absolute;
        top: 0;
        background-color: @mr-violet;
        border-radius: 100%;

        -webkit-animation: bounce 2.0s infinite ease-in-out;
        animation: bounce 2.0s infinite ease-in-out;
    }

    .dot2 {
        top: auto;
        bottom: 0px;
        -webkit-animation-delay: -1.0s;
        animation-delay: -1.0s;
    }
}


@-webkit-keyframes rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

.medium-editor-element {
    position: relative;
    margin-top: 40px;
    min-height: 400px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;

    &:focus {
        outline: none;
    }
}

.medium-editor-toolbar {
    visibility: visible;
    left: 15px; right: 15px;
    background-color: @mr-violet;
    li button {
        height: 40px;
        min-width: 40px;
        line-height: 11px;
        border-color: @mr-orange;
        &.medium-editor-button-active {
            background-color: @mr-orange;
        }
        &:hover {
            background-color: @mr-blue;
        }
        &:last-of-type {
            border-right: 1px;
        }
    }
}
