<div class="modal-header">
    <h3 class="modal-title" ng-if="!editMode">Dodaj obavezu</h3>
    <h3 class="modal-title" ng-if="editMode">Izmeni obavezu</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <md-input-container>
                <label translate>Tip obaveze</label>
                <md-select ng-model="_calendar.type" required>
                    <md-option ng-repeat="_type in types" value="{{_type}}">{{_type}}</md-option>
                </md-select>
            </md-input-container>
        </div>
    </div>
    <div class="row" ng-show="_calendar.type === 'Ročište'">
        <div class="col-md-12">
            <md-input-container>
                <label translate>Predmet</label>
                <md-select ng-model="_calendar.cases">
                    <md-option ng-repeat="_case in cases" ng-value="_case.id">{{_case.name}}</md-option>
                </md-select>
            </md-input-container>
        </div>
    </div>
    <div class="row" ng-show="_calendar.type === 'Obaveza'">
        <div class="col-md-12">
            <md-input-container>
                <label translate>Klijent</label>
                <md-select ng-model="_calendar.client" ng-change="parseClient(_calendar.client)">
                    <md-option ng-repeat="_client in clients" ng-value="_client" ng-selected="_client.id === _calendar._client.id && _client.name === _calendar._client.name">
                        {{_client.name ? _client.name : _client.company_name}} {{_client.surname}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <md-input-container>
                <label translate>Naziv obaveze</label>
                <input type="text" ng-model="_calendar.name" required>
            </md-input-container>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <md-input-container>
                <label translate>Datum</label>
                <input type="text" mr-datetime-picker ng-model="_calendar.datetime" required>
            </md-input-container>
        </div>
        <div class="col-md-4">
            <md-input-container>
                <label translate>Trajanje</label>
                <input type="number" ng-model="_calendar.duration">
            </md-input-container>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <md-input-container>
                <label translate>Komentar</label>
                <input type="text" ng-model="_calendar.comment">
            </md-input-container>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn--rounded btn--dark" type="button" ng-click="cancel()" translate>Otkaži</button>
    <button class="btn btn--rounded btn--danger" type="button" ng-click="remove(_calendar)" ng-if="editMode" translate>Obriši</button>
    <button class="btn btn--rounded btn--orange" type="button" ng-click="save(_calendar)" translate>Sačuvaj</button>
</div>