<div clients-sidenav class="sidenav-section">
    <div class="topnav-section">
        <div class="item ng-animate-disabled" ng-click="switchType('legals')" ng-class="{active: clientType === 'legals'}" translate>Pravna lica</div>
        <div class="item ng-animate-disabled" ng-click="switchType('individuals')" ng-class="{active: clientType === 'individuals'}" translate>Fizička lica</div>
    </div>

    <div class="loader ng-animate-disabled" ng-show="$root.loading">Loading...</div>
    <div class="sidenav-item--container">

        <div class="sidenav-item--no-item" ng-if="!clients[clientType].length" translate>Trenutno nema klijenata</div>

        <div class="sidenav-item ng-animate-disabled" ng-repeat="client in clients[clientType] track by client.id" ng-class="{active: client.id === selected.id}" ng-click="pickClient(client)">
            {{client.name}} {{client.surname}} {{client.company_name}}
            <span class="detail-info">
                <i ng-if="client.city">{{client.city}}</i>
                <i ng-if="client.state">, {{client.state}}</i>
            </span>
        </div>
    </div>
    <button class="btn btn--orange" ng-click="addClient()">
        <i class="icon-add-client"></i>
        <span translate>Dodaj novog klijenta</span>
    </button>
</div>

<div clients-template class="content-section">
    <div class="content-searchbar clearfix">
        <input type="text" class="searchbar pull-right" placeholder="{{'Pretraga...'| translate}}" />
    </div>
    <div class="content-shortinfo">
        <div class="name-info" ng-if="selected">
            {{selected.name}} {{selected.surname}} {{selected.company_name}}
            <div class="address-info">
                <span ng-if="selected.address">{{selected.address}},</span>
                <span ng-if="selected.city">{{selected.city}},</span>
                <span ng-if="selected.state">{{selected.state}}</span>
            </div>
        </div>
        <div class="btn-group btn-group--inline pull-right" ng-if="selected">
            <button class="btn btn--rounded btn--dark" ng-click="editClient(selected)" translate>Izmeni podatke</button>
            <button class="btn btn--rounded btn--dark" ng-click="removeClient(selected)" translate>Izbriši lice</button>
        </div>
    </div>
    <div class="content-detailedinfo">

        <div class="content-left" ng-if="clientType === 'legals'">
            <div class="content-heading" translate>Osnovni podaci</div>
            <div class="content-details" ng-if="!selected">
                <label class="label--info" translate>Nijedan klijent nije izabran</label>
            </div>
            <div class="content-details" ng-if="selected">
                <div class="columns-two" ng-show="selected.vat || selected.company_number">
                    <div class="column" ng-show="selected.vat">
                        <label translate>PIB</label>
                        {{selected.vat}}
                    </div>
                    <div class="column" ng-show="selected.company_number">
                        <label translate>Matični broj</label>
                        {{selected.company_number}}
                    </div>
                </div>
                <div class="columns-two" ng-show="selected.phone || selected.account_number">
                    <div class="column" ng-show="selected.phone">
                        <label translate>Telefon</label>
                        {{selected.phone}}
                    </div>
                    <div class="column" ng-show="selected.account_number">
                        <label translate>Tekući račun</label>
                        {{selected.account_number}}
                    </div>
                </div>
                <div class="column" ng-show="selected.email">
                    <label translate>Email</label>
                    {{selected.email}}
                </div>
                <div class="column" ng-show="selected.attorney_name">
                    <label translate>Pravni zastupnik</label>
                    {{selected.attorney_name}}
                </div>
                <div class="columns-two" ng-show="selected.attorney_phone || selected.attorney_address">
                    <div class="column" ng-show="selected.attorney_phone">
                        <label translate>Telefon zastupnika</label>
                        {{selected.attorney_phone}}
                    </div>
                    <div class="column" ng-show="selected.attorney_address">
                        <label translate>Adresa zastupnika</label>
                        {{selected.attorney_address}}
                    </div>
                </div>
                <div class="columns-two" ng-show="selected.attorney_city || selected.attorney_state">
                    <div class="column" ng-show="selected.attorney_city">
                        <label translate>Grad zastupnika</label>
                        {{selected.attorney_city}}
                    </div>
                    <div class="column" ng-show="selected.attorney_state">
                        <label translate>Država zastupnika</label>
                        {{selected.attorney_state}}
                    </div>
                </div>
                <div class="column" ng-show="selected.comment">
                    <label translate>Komentar</label>
                    {{selected.comment}}
                </div>
            </div>
        </div>

        <div class="content-left"  ng-if="clientType === 'individuals'">
            <div class="content-heading" translate>Osnovni podaci</div>
            <div class="content-details" ng-if="!selected">
                <label class="label--info" translate>Nijedan klijent nije izabran</label>
            </div>
            <div class="content-details" ng-if="selected">
                <div class="columns-two" ng-show="selected.citizenship || selected.phone">
                    <div class="column" ng-show="selected.citizenship">
                        <label translate>Državljanstvo</label>
                        {{selected.citizenship}}
                    </div>
                    <div class="column" ng-show="selected.phone">
                        <label translate>Telefon</label>
                        {{selected.phone}}
                    </div>
                </div>
                <div class="column" ng-show="selected.email">
                    <label translate>Email</label>
                    {{selected.email}}
                </div>
                <div class="columns-two" ng-show="selected.social_number || selected.id_number">
                    <div class="column" ng-show="selected.social_number">
                        <label translate>JMBG</label>
                        {{selected.social_number}}
                    </div>
                    <div class="column" ng-show="selected.id_number">
                        <label translate>Br. Lične karte</label>
                        {{selected.id_number}}
                    </div>
                </div>
                <div class="column" ng-show="selected.account_number">
                    <label translate>Tekući račun</label>
                    {{selected.account_number}}
                </div>
                <div class="column" ng-show="selected.comment">
                    <label translate>Komentar</label>
                    {{selected.comment}}
                </div>
            </div>
        </div>

        <div class="content-right">
            <div class="content-heading" ng-controller="casesCtrl">
                {{ :: 'Predmeti' | translate }}
                <div class="content-heading--actions" ng-show="selected">
                    <a ng-click="addCase(selected)"><i class="fa fa-plus-square-o"></i></a>
                </div>
            </div>
            <div class="content-details" ng-controller="casesCtrl">
                <div class="column" ng-if="!_cases.length">
                    <label class="label--info">Trenutno nema predmeta za izabranog klijenta.</label>
                </div>
                <div class="column" ng-repeat="_case in _cases track by _case.id">
                    <label><a ng-click="previewCase(_case)">{{_case.name}}</a></label>
                </div>
            </div>

            <div class="content-heading" ng-controller="calendarCtrl">
                {{ :: 'Agenda' | translate }}
                <div class="content-heading--actions" ng-show="selected">
                    <a ng-click="addCalendar(null, selected)"><i class="fa fa-plus-square-o"></i></a>
                </div>
            </div>
            <div class="content-details">
                <div class="column" ng-if="!agenda.length">
                    <label class="label--info">Nemate budućih obaveza za izabranog klijenta.</label>
                </div>
                <div class="column" ng-repeat="_calendar in agenda track by _calendar.id">
                    <label>{{_calendar.datetime| datetime:"Do MMMM YYYY, HH:mm"}} - {{_calendar.name}}</label>
                </div>
            </div>
        </div>
    </div>
</div>