<div cases-sidenav class="sidenav-section">
    <div class="topnav-section">
        <div class="item ng-animate-disabled" ng-click="switchType('legals')" ng-class="{active: caseType === 'legals'}" translate>Pravna lica</div>
        <div class="item ng-animate-disabled" ng-click="switchType('individuals')" ng-class="{active: caseType === 'individuals'}" translate>Fizička lica</div>
    </div>

    <div class="sidenav-item ng-animate-disabled" ng-repeat="_case in cases track by _case.id" ng-class="{active: _case.id === selected.id}" ng-click="pickCase(_case)">
        {{_case.name}}
        <span class="detail-info">
            <i ng-if="_case.supervisor">{{_case.supervisor}}, </i>
            <i ng-if="_case.judge">{{_case.judge}}</i>
        </span>
    </div>
    <button class="btn btn--orange" ng-click="addCase()">
        <i class="icon-add-client"></i>
        <span translate>Dodaj novi predmet</span>
    </button>
</div>
<div cases-template class="content-section">
    <div class="content-searchbar clearfix">
        <input type="text" class="searchbar pull-right" placeholder="{{'Pretraga...'| translate}}" />
    </div>
    <div class="content-shortinfo">
        <div class="name-info">
            {{selected.name}}
            <div class="address-info">{{selected.legal_council}} - {{selected.legal_label}} / {{selected.legal_number}}</div>
        </div>
        <div class="btn-group btn-group--inline pull-right">
            <button class="btn btn--rounded btn--dark" ng-click="editCase(selected)" translate>Izmeni podatke</button>
            <button class="btn btn--rounded btn--dark" ng-click="removeCase(selected)" translate>Izbriši predmet</button>
        </div>
    </div>
    <div class="content-detailedinfo">
        <div class="content-left">
            <div class="content-heading" translate>Osnovni podaci</div>
            <div class="content-details">
                <div class="column">
                    <label translate>Suprotna strana</label>
                    {{selected.rival_type}} {{selected.rival_name}} {{selected.rival_surname}}
                </div>
                <div class="columns-two">
                    <div class="column">
                        <label translate>Vrsta</label>
                        {{selected.type}}
                    </div>
                    <div class="column">
                        <label translate>Osnov</label>
                        {{selected.element}}
                    </div>
                </div>
                <div class="column">
                    <label translate>Poslovni broj</label>
                    {{selected.legal_council}} - {{selected.legal_label}} / {{selected.legal_number}}
                </div>
                <div class="columns-two">
                    <div class="column">
                        <label translate>Interni broj predmeta</label>
                        {{selected.internal_number}}
                    </div>
                    <div class="column">
                        <label translate>Nadležni organ</label>
                        {{selected.supervisor}}
                    </div>
                </div>
                <div class="columns-two">
                    <div class="column">
                        <label translate>Broj sudnice / Sobe</label>
                        {{selected.court_number}}
                    </div>
                    <div class="column">
                        <label translate>Sudija / Tužilac</label>
                        {{selected.judge}}
                    </div>
                </div>
                <div class="columns-two">
                    <div class="column">
                        <label translate>Vrednost spora</label>
                        {{selected.value}}
                    </div>
                    <div class="column">
                        <label translate>Status predmeta</label>
                        {{selected.status}}
                    </div>
                </div>
                <div class="column">
                    <label translate>Komentar</label>
                    {{selected.comment}}
                </div>
            </div>
        </div>
        <div class="content-right">

        </div>
    </div>
</div>